<div>
  <div>
    <h1 class="colorHeaders text-center">Mes Matches</h1>
  </div>
  <div *ngFor="let match of listMatch">
    <div class="like" *ngIf="match.match === true">
    {{match.id}}<br>
    {{match.profil}}<br>
    </div>
    <div class="dislike" *ngIf="match.match !== true">
      {{match.id}}<br>
      {{match.profil}}<br>
    </div>
  </div>
</div>
