.colorHeaders{
  color: #FD3774;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.like{
  color: green;
  font-weight: bold;
  background: powderblue;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
}
.dislike{
  color: red;
  font-weight: bold;
  background: powderblue;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
}
