
.peopleDesign{
  font-weight: bold;
  color: black;
  background: white;
  border: cornflowerblue solid;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  }

