#likeMatch{
  color: white;
  background: green;
}
#nopeMatch{
  color: white;
  background: red;
}
#matchArea{
  background: lightgrey;
  border: cornflowerblue;
  padding: 3px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
