<div>
  <div id="matchArea">
    <!-- button to LIKE --->
    <div>
      <input id="likeMatch" class="MatchButtons" type="button" (click)="likeMatch(like)"
             value="Like"
             >
    </div>
    <!-- button to NOT LIKE = NOPE --->
    <div>
      <input id="nopeMatch" class="MatchButtons" type="button" (click)="likeMatch(nope)"
             value="Nope"
            >
    </div>
  </div>
</div>
