<div>
  <!-- inserting profil component --->
  <div class="groupProfils">

      <div *ngFor="let profil of listProfils">
      <app-profil
        [profil]="profil">

      </app-profil>
      <div>
        <app-match
          [idProfil]="profil.id"
        >
        </app-match>
      </div>
    </div>
  </div>
</div>
