<div>
  <nav style="margin-top: 5px">
    <img src="https://cdn.1min30.com/wp-content/uploads/2018/05/logo-Tinder-1.jpg" width="50">
    <a class="colorLinks" routerLink="/zinder" routerLinkActive="active">Zinder</a>
    <a class="colorLinks" routerLink="/stats" routerLinkActive="active">Statistiques</a>
    <a class="colorLinks" routerLink="/admin" routerLinkActive="active">Administration</a>
  </nav>
  <router-outlet></router-outlet>
</div>
