.colorHeaders{
  color: #FD3774;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.justAlign{
  display: grid;
  grid-gap: 7px;
  margin-left: 20px;
}
.allTextBoxes{
  margin: 10px;
  padding: 3px;
  font-size: 20px;
  background: #c2f4fa;
  color: #FD3774;
}
.createProfil{
  color: #FD3774;
  font-weight: bolder;
}
.validationButtons{
  margin: 10px;
  padding: 3px;
  font-size: 16px;
  background: #FD3774;;
  color: white;
  font-family: "Comic Sans MS";
}
