<div>
  <div>
    <h1 class="colorHeaders text-center">Administration</h1>
  </div>
  <div>
    <p class="createProfil">
      Creation d'un profil
    </p>

    <div class="justAlign text-center">
      <!-- buttons to insert new questi text-centeron --->
      <div>
        <label class="createProfil" for="prenom">Prenom</label>
        <input id="prenom" class="allTextBoxes" type="text" [(ngModel)]="prenom">
      </div>
      <div>
        <label class="createProfil" for="nom">Nom</label>
        <input id="nom" class="allTextBoxes" type="text" [(ngModel)]="nom">
      </div>
      <div>
        <label class="createProfil" for="photoUrl">Url Photo</label>
        <input id="photoUrl" class="allTextBoxes" type="text" [(ngModel)]="photoUrl">
      </div>
      <div>
        <label class="createProfil" for="interets">List of Interets</label>
        <input id="interets" class="allTextBoxes" type="text" [(ngModel)]="interets">
      </div>
      <div>
        <input id="validation" class="validationButtons" type="button" (click)="validation()" value="Validate">
      </div>

  </div>
</div>
