<div>
  <div>
    <h1 class="colorHeaders text-center">Voici tes prétendants</h1>
  </div>
  <!-- inserting Profile List--->
  <div>
    <app-list-profils>

    </app-list-profils>
  </div>
  <!-- last DIV --->
</div>
